<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Bismillah</h3>
<p>
    Halo semuanya, ini adalah mustache untuk halaman <b>/</b>
</p>
<p>dibawah adala daftar video</p>
<ul>
    {{#videos}}
        <li>{{name}}</li>
    {{/videos}}
</ul>
</body>
</html>