<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ol>
    <ul><a href="/">multi-field-search</a> </ul>
    <ul><a href="/paging">search-paging</a> </ul>
    <ul><a href="/universal">search-universal</a> </ul>
</ol>
<form action="/search-paging" method="post">
    <table>
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>
                <label for="description">Description:</label>
            </td>
            <td>
                <input type="text" name="description">
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Page:</label>
            </td>
            <td>
                <input  type="number" name="page">
            </td>
        </tr>
    </table>
    <button type="submit">Search</button>
</form>
<div>
    <p>Pages <b>{{#currentPage}}{{currentPage}}{{/currentPage}}</b>of <b>{{#maxPage}}{{maxPage}}{{/maxPage}}</b></p>
</div>
<ul>
    {{#videos}}
        <li>{{name}} {{description}}</li>
    {{/videos}}
</ul>
</body>
</html>